#!/bin/bash
################################################################################################################
#  omnia_nic_autoconnect:
#      Configure autoconnect to all active nic in all the cluster nodes
#      The nic name might change between the installation and 1st boot
#      Active all the nics with network link during system boot
#      Delete the default route for the admin nic if there are multiple default routes
#
#################################################################################################################
# Define log file
LOGFILE="/var/log/xcat/xcat.log"

log() {
  echo "$1" >> "$LOGFILE"
}


# Preparation for installnic
function get_installnic {

    tmp_installnic="mac"
    [ $INSTALLNIC ] && tmp_installnic=$INSTALLNIC

    instnic=''
    if [ "$tmp_installnic" = "mac" ];then
        if [ -n "$MACADDRESS" ]; then
            instnic=`ip -o link | grep -i "$MACADDRESS" | awk '{print $2;}' | sed s/://`
        else
            errorcode=1
        fi
    elif [ `echo $tmp_installnic | grep -E "e(n|th|m)[0-9a-zA-Z]+"` ];then
        instnic=$tmp_installnic
    else
            errorcode=1
    fi
    echo $instnic
}


log "INFO: Starting omnia_nic_autoconnect script"

# Check if nmcli is available
nmcli_available=false
if command -v nmcli >/dev/null 2>&1; then
    if nmcli -t -f UUID connection show >/dev/null 2>&1; then
        nmcli_available=true
    fi
fi

if [ "$nmcli_available" = true ]; then
    log "INFO: nmcli is available, proceeding to check NICs --"
    #get for installnic
    admin_nic=''
    log "INFO: Getting install nic..."
    admin_nic=`get_installnic`
    log "INFO: Admin NIC $admin_nic"

    # Loop through all interfaces except 'lo'
    for iface in $(ip -o link show | awk -F': ' '{print $2}' | grep -v lo); do
        state=$(cat /sys/class/net/$iface/operstate)

        log "INFO: Checking interface: $iface, state: $state"

        if [[ "$state" == "up" && "$iface" != *"$admin_nic"* ]]; then
            log "INFO: Interface $iface is UP, checking corresponding .nmconnection file..."

            # Check if link is detected (physical connection)
            if ethtool "$iface" | grep -E -i "Link detected.*yes" >/dev/null 2>&1; then
                log "INFO: Link detected for $iface, modifying autoconnect..."
                nmcli connection modify "$iface" connection.autoconnect yes
                nmcli connection up "$iface"
            else
                log "INFO: Connection file for $iface does not exist, skipping..."
            fi
        else
            log "INFO: Interface $iface is NOT UP or is admin nic - $admin_nic , skipping..."
        fi
    done
    log "$(ip -4 a)"
    # Show active connections after restart
    log "INFO: Showing nmcli connection show output:"
    log "$(nmcli connection show)"

    log "INFO: Current default route:"
    log "$(ip route show default)"
else
    log "ERROR: -- nmcli not available, exiting --"
    exit 1
fi