#!/bin/bash
################################################################################################################
#  omnia_nic_autoconnect:
#      Configure autoconnect to all active nic in all the cluster nodes
#################################################################################################################
# Define log file
LOGFILE="/var/log/xcat/xcat.log"

# Get the directory of the log file
log_dir=$(dirname "$LOGFILE")

# Create the log directory if it doesn't exist
if [ ! -d "$log_dir" ]; then
    mkdir -p "$log_dir"
fi

# Create the log file if it doesn't exist
if [ ! -f "$LOGFILE" ]; then
    touch "$LOGFILE"
fi

echo "--------------------------" >> "$LOGFILE"
echo "$(date) - INFO - Starting Omnia NIC Autoconnect script." >> "$LOGFILE"

# Get a list of all active NetworkManager connection profiles
mapfile -t profiles < <(nmcli -g NAME connection show --active)

# Loop through each profile
for profile in "${profiles[@]}"; do
  # Set autoconnect priority to 10 for each active profile
  echo "Setting autoconnect for $profile." >> "$LOGFILE"
  nmcli connection modify "$profile" connection.autoconnect yes || { echo "ERROR: Using nmcli to set autoconnect" >> "$LOGFILE"; exit 1; }
  nmcli connection modify "$profile" connection.autoconnect-priority 10 || { echo "ERROR: Using nmcli to set autoconnect priority." >> "$LOGFILE"; exit 1; }
done

systemctl reload NetworkManager

echo "$(date) - INFO - Finished Omnia NIC Autoconnect script." >> "$LOGFILE"
echo "---------------------------" >> "$LOGFILE"