#!/bin/bash
################################################################################################################
#  omnia_pcs_setup:
#      Configure Omnia's pcs container on HA OIM nodes
#
#################################################################################################################
# Define log file
LOGFILE="/var/log/omnia/pcs_setup.log"

# Get the directory of the log file
log_dir=$(dirname "$LOGFILE")

# Create the log directory if it doesn't exist
if [ ! -d "$log_dir" ]; then
    mkdir -p "$log_dir"
fi

# Create the log file if it doesn't exist
if [ ! -f "$LOGFILE" ]; then
    touch "$LOGFILE"
fi

echo "--------------------------" >> "$LOGFILE"
echo "$(date) - INFO - Starting OIM Passive node setup" >> "$LOGFILE"

if [ -f "/etc/debian_version" ];then
  str_os_type="debian"
else
  str_os_type="redhat"
fi

# Install and configure podman
if [ "$str_os_type" = "redhat" ]; then
    sudo dnf install -y podman
fi

sudo systemctl enable podman.socket
sudo systemctl start podman.socket

{% if omnia_share_option == "NFS" %}
# Create omnia_path directory if it does not exist
echo "Creating omnia shared path directory if it does not exist" >> "$LOGFILE"
mkdir -p {{ oim_shared_path }}

# Validate if NFS server is reachable
echo "Validating if NFS server is reachable" >> "$LOGFILE"
ping -c1 -W1 {{ nfs_server_ip }} > /dev/null
if [ $? -ne 0 ]; then
    echo -e "NFS server {{ nfs_server_ip }} is not reachable." >> "$LOGFILE"
    exit 1
fi

# Mount NFS server share path in Omnia share path
echo "Mounting NFS server share path in Omnia share path" >> "$LOGFILE"
mount -t nfs -o nosuid,rw,sync,hard,intr,timeo=30 {{ nfs_server_ip }}:{{ nfs_server_share_path }} {{ oim_shared_path }}

# Validate if NFS server share path is mounted
echo "Validating if NFS server share path is mounted" >> "$LOGFILE"
if grep -qs "{{ nfs_server_ip }}:{{ nfs_server_share_path }}" /proc/mounts; then
    echo -e "NFS server share path is mounted." >> "$LOGFILE"
else
    echo -e "NFS server share path is not mounted. Provide valid NFS server details" >> "$LOGFILE"
    exit 1
fi

# Add NFS server share to /etc/fstab to mount on startup
echo "{{ nfs_server_ip }}:{{ nfs_server_share_path }} {{ oim_shared_path }} nfs nosuid,rw,sync,hard,intr" >> /etc/fstab
{% endif %}

podman load -i {{ container_images_path }}
# Start the pcs container
sudo sudo systemctl start omnia_pcs
echo "$(date) - INFO - Finished OIM Passive node setup" >> "$LOGFILE"
echo "---------------------------"