#!/bin/bash
################################################################################################################
#  omnia_gaudi:
#      Install Intel Gaudi drivers on all the cluster nodes
#
#################################################################################################################
echo "--------------------------" >> /var/log/xcat/xcat.log
echo "Checking for Intel Gaudi accelerators" >> /var/log/xcat/xcat.log

gaudi_check=`lspci | grep -i "Processing accelerators: Habana Labs Ltd."`

validate_ubuntu_os="$(cat /etc/os-release | grep 'ID=ubuntu' | wc -l)"

HEADER_VER=$(uname -r)

export DEBIAN_FRONTEND=noninteractive

# on node with gaudi
if [[ $gaudi_check == *"Habana Labs Ltd"*  ]]; then

  if [[ $validate_ubuntu_os == "1" ]]; then

    echo "Installing Intel Gaudi drivers" >> /var/log/xcat/xcat.log

    echo "deb [trusted=yes] http://{{ admin_nic_ip }}:80/install{{ repo_store_path }}/cluster/{{ provision_os }}/{{ provision_os_version }}/deb ./" >> /etc/apt/sources.list.d/intelgaudi.list

    sudo apt-get update

    apt install -y cmake \
      curl \
      dkms \
      ethtool \
      gcc \
      iproute2 \
      libbz2-dev \
      libelf-dev \
      libibverbs-dev \
      liblzma-dev \
      librdmacm-dev \
      linux-headers-${HEADER_VER} \
      linux-modules-extra-${HEADER_VER} \
      lsof \
      moreutils \
      numactl \
      unzip \
      wget

    apt install -y habanalabs-container-runtime \
      habanalabs-dkms \
      habanalabs-firmware \
      habanalabs-firmware-tools \
      habanalabs-graph \
      habanalabs-qual \
      habanalabs-rdma-core \
      habanalabs-thunk \
      habanatools

    # This number was defined by Habana team and is the number used in IDC clusters
    sysctl -w vm.nr_hugepages=156300

    rm /etc/apt/sources.list.d/intelgaudi.list

    apt-get update

    echo "Intel Gaudi drivers installation completed" >> /var/log/xcat/xcat.log

  fi

fi
echo "-----------------------------" >> /var/log/xcat/xcat.log
