# Copyright 2024 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

#***********************************************************************
# DO NOT REMOVE OR COMMENT OUT ANY LINES IN THIS FILE.                  
# SIMPLY APPEND THE REQUIRD VALUES AGAINST THE PARAMETER OF YOUR CHOICE.
#***********************************************************************

# Maximum number of consecutive failures before lockout
# The default value of this variable can't be changed
# Default value: 3
max_failures: 3 # Value auto populated by Omnia upgrade script

# Period (in seconds) after which the number of failed login attempts is reset
# Default value: 60
# Min: 30
# Max: 60
failure_reset_interval: {{ login_node_security_config_ns.failure_reset_interval | default('60') }} # Value auto populated by Omnia upgrade script

# Period (in seconds) for which users are locked out 
# Default value: 10
# Min: 5
# Max: 10
lockout_duration: {{ login_node_security_config_ns.lockout_duration | default('10') }} # Value auto populated by Omnia upgrade script

# User sessions that have been idle for a specific period can be ended automatically
# This variable sets session timeout to 3 minutes (180 seconds) by default
# Min: 90
# Max: 180
session_timeout: {{ login_node_security_config_ns.session_timeout | default('180') }} # Value auto populated by Omnia upgrade script

# Email address used for sending alerts in case of authentication failure
# If this variable is left blank, authentication failure alerts will be disabled.
# Multiple email address can be provided by comma separated values
# Example: alert_email_address: "user1@domain.com,user2@domain.com"
alert_email_address: "{{ login_node_security_config_ns.alert_email_address }}" # Value auto populated by Omnia upgrade script

# This variable will be applicable only when alert_email_address is provided
# SMTP server details in the cluster to sent email alerts
# Supported only single SMTP server configuration
# Example:
# smtp_server: 
#   - { host: "smtp-server.domain.com", port: "25", sender_address: "alert@domain.com" }"
smtp_server: 
  - { host: "", port: "", sender_address: "" }

# This variable mentions the users to whom the access will be provided
# format of user shall be username@ip or username 
# Ex1- root@1.2.3.4 Ex2- root Ex3- root@1.2.3.4 root (if multiple user, provide space seperated values) by default empty
user: "{{ login_node_security_config_ns.user }}" # Value auto populated by Omnia upgrade script

# This variable provides the type of access
# Accepted values: "allow" or "deny"
# Default value: "allow"
# Make sure AllowUsers or DenyUsers entries on sshd configuration file are not commented
allow_deny: "{{ login_node_security_config_ns.allow_deny | default('allow') }}" # Value auto populated by Omnia upgrade script

# This variable is used to disable services.
# Accepted values: "true" or "false". 
# Default value: false  
# Root access is needed.
restrict_program_support: {{ login_node_security_config_ns.restrict_program_support | default('false') | lower | regex_replace('\"', '') }} # Value auto populated by Omnia upgrade script

# The below-mentioned services can be disabled, by adding values in comma separated values format for restrict_softwares variable
# Services: telnet,lpd,bluetooth,rlogin,rexec
# Ex: restrict_softwares: "telnet,lpd,bluetooth" ( This disables 3 services, to disable more services, add services with comma separation. )
restrict_softwares: "{{ login_node_security_config_ns.restrict_softwares }}" # Value auto populated by Omnia upgrade script
