---
Categories:  # Value auto populated by Omnia upgrade script
{% for category in server_spec_ns.Categories %}
{% for group_name, group_content in category.items() %}
  - {{ group_name }}:
{% for section in group_content %}
{% if section.network is defined %}
    - network:
{% for network in section.network %}
{% for net_name, net_content in network.items() %}
        - {{ net_name }}:
{% for key, value in net_content.items() %}
            {{ key }}: "{{ value }}"
{% endfor %}
            metric:
{% endfor %}
{% endfor %}
{% endif %}
{% if section.os is defined %}
    - os:
{% for os in section.os %}
{% for os_key, os_content in os.items() %}
        - {{ os_key }}:
{% for item in os_content %}
{% for key, value in item.items() %}
            {{ key }}: "{{ value }}"
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

#**********************************************************************
# Following are the templates for providing additional network and OS details.
# Users may include the `os` or `network` sections individually if only one 
# of them needs to be configured, or both together as well.
# 
# - Use space (' ') as a delimiter in case of multiple parameters for cmdline.
#**********************************************************************
#
# Example for configuring only network settings:
# Categories:
#   - group-1:
#       - network:
#           - eno1:
#               nicnetwork: "nic_network1"
#               nictypes: "ethernet"
#
# Example for configuring only OS settings:
# Categories:
#   - group-2:
#       - os:
#           - kernel:
#               - cmdline: "iommu=pt intel_iommu=off pci=realloc=off processor.max_cstate=0 intel_idle.max_cstate=0 intel_pstate=disable"
