apiVersion: csm-authorization.storage.dell.com/v1alpha1
kind: CSMRole
metadata:
  name: {{ role.name }}
  namespace: {{ authz_namespace }}
spec:
  systemID: {{ cluster_name }}
  systemType: isilon
  pool: {{ role.storage_pool }}
  quota: {{ role.quota_limit }}
