apiVersion: csm-authorization.storage.dell.com/v1alpha1
kind: Storage
metadata:
  name: powerscale-{{ cluster_name }}
  namespace: {{ authz_namespace }}
spec:
  type: isilon
  endpoint: {{ endpoint }}:{{ port }}
  systemID: {{ cluster_name }}
  skipCertificateValidation: true
