apiVersion: csm-authorization.storage.dell.com/v1alpha1
kind: CSMTenant
metadata:
  name: {{ tenant.name }}
  namespace: {{ authz_namespace }}
spec:
{% if tenant.roles | default([]) %}
  roles:
{% for role in tenant.roles %}
    - {{ role.name }}
{% endfor %}
{% else %}
  roles: []
{% endif %}
  revoke: false
