{
  "username": "admin",
  "password": "",
  "vCenter": "",
  "vCenterPort": "",
  "type": "PowerScale",
  "arrays": [
    {
      "endpoint": "${ORIGINAL_ENDPOINT}",
      "port": "${ORIGINAL_PORT}",
      "systemId": "${CLUSTER_NAME}",
      "isDefault": true
    }
  ]
}
