apiVersion: v1
kind: Secret
metadata:
  name: "{{ mysqldb_secrets_name }}"
  namespace: "{{ telemetry_namespace }}"
type: Opaque
data:
  mysqldb_user: "{{ telemetry_credentials.mysqldb_user | b64encode }}"
  mysqldb_password: "{{ telemetry_credentials.mysqldb_password | b64encode }}"
  mysqldb_root_password: "{{ telemetry_credentials.mysqldb_root_password | b64encode }}"
