options:
  layer_type: 'base'
  name: '{{ ubuntu_x86_64_base_image_name }}'
  publish_tags: '{{ ubuntu_tag }}'
  pkg_manager: 'apt'
  parent: 'ubuntu:{{ ubuntu_tag }}'
  publish_registry: '{{ oim_node_name }}.{{ domain_name }}:5000/{{ oim_node_name }}'
  registry_opts_push:
    - '--tls-verify=false'

repos:
{% for repo in ubuntu_x86_64_repos | default([]) %}
{% if repo.base_url | length > 1 %}
  - alias: '{{ repo.name }}'
    url: '{{ repo.base_url }}'
{% endif %}
{% if repo.gpg | default('') | length > 1 %}
    gpg: '{{ repo.gpg }}'
{% endif %}
{% endfor %}

packages:
{% for pkg in x86_64_ubuntu_base_image_packages | default([]) %}
  - {{ pkg }}
{% endfor %}

cmds:
{% for cmd in base_image_commands | default([]) %}
  - cmd: "{{ cmd }}"
{% endfor %}
