BMC_IP,GROUP_NAME,PARENT
{% for item in mapping_nodes_var | sort(attribute='value.XNAME') %}
{{ item.value.BMC_IP }},{{ item.value.GROUP_NAME }},{{ group_data[item.value.GROUP_NAME].parent | default('') }}
{% endfor %}
