global:
  scrape_interval: 5s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus-pump-{{ service_tag }}'
    metrics_path: '/metrics'
    scrape_interval: 5s
    static_configs:
      - targets: [ '{{ service_active_nic_ip }}:2112' ]
