[Unit]
Description=Nerdctl Registry

[Service]
Type=oneshot
{% if proxy_status %}
EnvironmentFile={{ omnia_environment_path }}
{% endif %}
RemainAfterExit=yes
WorkingDirectory={{ nerdctl_registry_dir }}
ExecStart=/bin/bash nerdctl-registry start
ExecStop=/bin/bash nerdctl-registry stop

[Install]
WantedBy=default.target

