#!/bin/bash

nerdctl_command=$1
if [ $nerdctl_command = "start" ]; then
    nerdctl_ps_result=$(nerdctl ps -a | grep "omnia-registry")
    if [ -z $nerdctl_ps_result ]; then
        nerdctl run -d -p 5001:5000 --restart=always --name omnia-registry \
          -v {{ nerdctl_registry_data_dir }}:/data \
          -e REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data \
          -v {{ nerdctl_registry_certs_dir }}:/certs \
          -e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/domain.crt \
          -e REGISTRY_HTTP_TLS_KEY=/certs/domain.key \
          registry:2
    else
        nerdctl start omnia-registry
    fi
elif [ $nerdctl_command = "stop" ]; then
    nerdctl rm -f omnia-registry
else
    echo "The parameter is wrong."
fi
