{
    "proxies": {
            "default": {
                    "httpProxy": "{{ proxy[0].http_proxy | default('', true) }}",
                    "httpsProxy": "{{ proxy[0].https_proxy | default('', true) }}",
                    "noProxy": "localhost,{{ oim_hostname }},*.{{ oim_domain_name }},{{ oim_ip_addresses | join(',') }}{% if no_proxy_input_status %},{{ proxy[0].no_proxy }}{% endif %}"
             }
    }
}
