[Unit]
Description=OpenCHAMI CoreDHCP Service
Wants=network-online.target
After=network-online.target
Wants=openchami-internal-network.target
After=openchami-internal-network.target
PartOf=openchami.target

[Container]
Image=ghcr.io/openchami/coresmd:{{ openchami_coresmd_tag }}
ContainerName=coresmd-coredhcp
Network=host
PodmanArgs=--cap-add=NET_ADMIN --cap-add=NET_RAW
Volume=step-root-ca.volume:/root_ca/:ro
Volume=/etc/openchami/configs/coredhcp.yaml:/etc/coredhcp/config.yaml:ro
Restart=on-failure

[Install]
RequiredBy=openchami.target
WantedBy=multi-user.target
