offline_tarball_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/tarball"
offline_shell_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/shell"
offline_pip_module_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/pip_module"
offline_git_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/git"
offline_ansible_galaxy_collection_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/ansible_galaxy_collection"
offline_manifest_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/manifest"
offline_iso_path: "{{ hostvars['oim']['pulp_protocol'] }}://{{ pulp_server_ip }}:{{ hostvars['oim']['pulp_server_port'] }}/pulp/content/opt/omnia/offline_repo/cluster/x86_64/{{ cluster_os_type }}/{{ cluster_os_version }}/iso"
oim_hostname: "{{ oim_hostname }}"
domain_name: "{{ domain_name }}"
proxy_status: false
no_proxy_input_status: false
user_no_proxy: ""
