# Container Image List
# This file contains container images to be downloaded as SIF files
# Format: <registry>/<namespace>/<image>:<tag>
# Lines starting with # are comments and will be ignored
# Empty lines are also ignored
#
# Examples:
#   nvcr.io/nvidia/hpc-benchmarks:25.09
#   docker.io/library/ubuntu:22.04
#   ghcr.io/apptainer/apptainer:latest

# Default HPC Benchmarks image
nvcr.io/nvidia/hpc-benchmarks:25.09