nodes:
{% for item in nodes | sort(attribute='value.XNAME') %}
- name: {{ item.value.HOSTNAME }}
  xname: {{ item.value.XNAME }}
  description: {{ item.value.SERVICE_TAG }}
  nid: {{ loop.index }}
  group: {{ item.value.FUNCTIONAL_GROUP_NAME }}
  bmc_mac: {{ item.value.BMC_MAC }} 
  bmc_ip: {{ item.value.BMC_IP }}
  interfaces:
  - mac_addr: {{ item.value.ADMIN_MAC }}
    ip_addrs:
    - name: management
      ip_addr: {{ item.value.ADMIN_IP }}
{% endfor %}