apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: controller
  namespace: telemetry
  labels:
    strimzi.io/cluster: kafka
spec:
  replicas: 3
  roles:
    - controller
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: "{{ hostvars['localhost']['kafka_persistence_size'] }}"
        class: {{ storage_class_name }}
        kraftMetadata: shared
        deleteClaim: false
---

apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: broker
  namespace: telemetry
  labels:
    strimzi.io/cluster: kafka
spec:
  replicas: 3
  roles:
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: "{{ hostvars['localhost']['kafka_persistence_size'] }}"
        class: {{ storage_class_name }}
        kraftMetadata: shared
        deleteClaim: false
---

apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: kafka
  namespace: telemetry
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: enabled
spec:
  kafka:
    version: 4.1.0
    metadataVersion: 4.1-IV0
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
      log.retention.hours: {{ hostvars['localhost']['kafka_configurations']['log_retention_hours'] }}
      log.segment.bytes: {{ hostvars['localhost']['kafka_configurations']['log_segment_bytes'] }}
      log.retention.bytes: {{ hostvars['localhost']['kafka_configurations']['log_retention_bytes'] }}
      log.retention.check.interval.ms: 300000
  entityOperator:
    topicOperator: {}
    userOperator: {}
