# For User Reository {{ item.0 + 1 }} {{ansible_date_time.iso8601_basic}}
{% if item.1.gpgkey is defined %}
{% if item.1.gpgkey | default("", true) | length > 1 %}
deb [arch=amd64 signed-by=/etc/apt/keyrings/a_user_repo{{ item.0 + 1 }}{{ansible_date_time.iso8601_basic}}.gpg] {{ item.1.url }}
{% else %}
deb [trusted=yes] {{ item.1.url }}
{% endif %}
{% endif %}