#!/usr/bin/env python3

# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Find services in the telemetry namespace that are holding LoadBalancer IPs
# which should belong to VMCluster services (vminsert/vmselect).
# This can happen when MetalLB reassigns freed IPs to other services
# before the VMCluster services are created by the operator.
#
# Usage: bash find_ip_conflict_svcs.sh
# Output: One service name per line (services holding conflicting IPs)

import yaml
import sys
manifest_path = sys.argv[1]
vmselect_ip = sys.argv[2] if len(sys.argv) > 2 and sys.argv[2] else ""
vminsert_ip = sys.argv[3] if len(sys.argv) > 3 and sys.argv[3] else ""
with open(manifest_path) as f:
    doc = yaml.safe_load(f)
spec = doc.get("spec", {})
changed = False
if vmselect_ip and "vmselect" in spec:
    svc = spec["vmselect"].setdefault("serviceSpec", {}).setdefault("spec", {})
    if svc.get("loadBalancerIP") != vmselect_ip:
        svc["loadBalancerIP"] = vmselect_ip
        changed = True
if vminsert_ip and "vminsert" in spec:
    svc = spec["vminsert"].setdefault("serviceSpec", {}).setdefault("spec", {})
    if svc.get("loadBalancerIP") != vminsert_ip:
        svc["loadBalancerIP"] = vminsert_ip
        changed = True
if changed:
    with open(manifest_path, "w") as f:
        yaml.dump(doc, f, default_flow_style=False, sort_keys=False)
    print("Injected vmselect=" + vmselect_ip + " vminsert=" + vminsert_ip)
else:
    print("IPs already present - no change needed")
sys.exit(0 if changed else 2)
