{
    "cluster_os_type": "{{ control_plane_os }}",
    "cluster_os_version": "{{ control_plane_os_version }}",
    "repo_config": "{{ md_repo_config }}",
    "softwares": [
        {"name": "telemetry"}
    ]
}