<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Omnia Pulp</short>
  <description>Omnia Repo Manager Pulp HTTPS endpoint</description>
  <port protocol="tcp" port="{{ pulp_server_port }}"/>
</service>
