[Unit]
Description=Top-level target for Omnia Core and OpenCHAMI
Requires=omnia_core.service openchami.target pulp.service registry.service minio.service {{ auth_service }}
After=network.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target default.target
