[defaults]
roles_path = ./roles
log_path = /var/log/omnia/telemetry/telemetry.log
stdout_callback = omnia_default
callback_plugins = ./plugins/callback
library = ./plugins/modules
module_utils = ./plugins/module_utils
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
show_task_path_on_failure = false
deprecation_warnings = false
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
