[Unit]
Description=Pulp https Quadlet Container
[Container]
Image={{ pulp_image }}
Exec=/init
ContainerName={{ pulp_container_name }}
AddDevice={{ device_name }}
HostName={{ pulp_container_name }}
PodmanArgs=--privileged
# Volumes
{% for vol in volumes_https %}
Volume={{ vol }}
{% endfor %}

# Environment
Environment=PULP_HTTPS=true
Environment=PULP_TLS_CERT=/etc/pulp/certs/pulp.crt
Environment=PULP_TLS_KEY=/etc/pulp/certs/pulp.key
{% for env_arg in arg_list %}
PodmanArgs={{ env_arg }}
{% endfor %}

# HTTPS Port mapping
PublishPort={{ pulp_port_https }}
[Service]
Restart=always
[Install]
WantedBy=multi-user.target default.target