# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Omnia Pulp HTTPS container
Wants=network-online.target
After=network-online.target

[Container]
Image={{ pulp_image }}
Exec=/init
ContainerName={{ pulp_container_name }}
AddDevice={{ device_name }}
HostName={{ pulp_container_name }}
PodmanArgs=--privileged
{% for vol in volumes_https %}
Volume={{ vol }}
{% endfor %}
Environment=PULP_HTTPS=true
{% for env_arg in arg_list %}
PodmanArgs={{ env_arg }}
{% endfor %}
PublishPort={{ pulp_publish_port }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
