[Unit]
Description=Omnia Pulp HTTPS container
Wants=network-online.target
After=network-online.target

[Container]
Image={{ pulp_image }}
Exec=/init
ContainerName={{ pulp_container_name }}
AddDevice={{ device_name }}
HostName={{ pulp_container_name }}
PodmanArgs=--privileged
{% for vol in volumes_https %}
Volume={{ vol }}
{% endfor %}
Environment=PULP_HTTPS=true
{% for env_arg in arg_list %}
PodmanArgs={{ env_arg }}
{% endfor %}
PublishPort={{ pulp_publish_port }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
