CONTENT_ORIGIN = {{ pulp_base_url | to_json }}
TOKEN_AUTH_DISABLED = True
SECRET_KEY = {{ pulp_secret_key | to_json }}

import aiohttp
aiohttp.client.DEFAULT_TIMEOUT = aiohttp.ClientTimeout(
    total=7200,
    sock_connect=600,
    sock_read=600,
)
