[defaults]
forks = 50
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia.orchestrator.omnia_default
collections_paths = ../ansible_collections:~/.ansible/collections:/usr/share/ansible/collections

[persistent_connection]
command_timeout = 180
connect_timeout = 180
