[defaults]
forks = 50
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
callback_plugins = ../callback_plugins
library = ../library/modules
module_utils = ../library/module_utils
roles_path = ../roles

[persistent_connection]
command_timeout = 180
connect_timeout = 180
