kube_version: "v{{ hostvars['localhost']['k8s_version'] }}"
container_manager: "containerd"
dashboard_enabled: {{ dashboard_enabled | default(true) | lower | regex_replace('["\']', '') }}
helm_enabled: {{ helm_enabled | default(true) | lower | regex_replace('["\']', '') }}
kube_network_plugin: "{{ hostvars['localhost']['k8s_cni'] }}"
kube_service_addresses: "{{ hostvars['localhost']['k8s_service_addresses'] }}"
kube_pods_subnet: "{{ hostvars['localhost']['k8s_pod_network_cidr'] }}"
kube_proxy_strict_arp: {{ kube_proxy_strict_arp | default(true) | lower | regex_replace('["\']', '') }}
kube_proxy_mode: {{ kube_proxy_mode | default('iptables') }}
kubelet_custom_flags: |
{% if hostvars['localhost']['topology_manager_policy'] != 'none' %}
  --topology-manager-policy={{ hostvars['localhost']['topology_manager_policy'] }}
  --topology-manager-scope={{ hostvars['localhost']['topology_manager_scope'] }}
{% endif %}
override_system_hostname: {{ override_system_hostname | default(false) | lower | regex_replace('["\']', '') }}
populate_inventory_to_hosts_file: {{ populate_inventory_to_hosts_file | default(false) | lower | regex_replace('["\']', '') }}
enable_nodelocaldns: {{ enable_nodelocaldns | default(false) | lower | regex_replace('["\']', '') }}
unsafe_show_logs: {{ unsafe_show_logs | default(true) | lower | regex_replace('["\']', '') }}
