{% if hostvars['localhost']['k8s_offline_install'] %}
containerd_registries_mirrors:
  - prefix: "{{ pulp_server_ip }}:{{ pulp_registry_port }}"
    mirrors:
      - host: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_registry_port }}"
        capabilities: ["pull", "resolve"]
        skip_verify: {{ 'false' if pulp_protocol == 'https' else 'true' }}
 
containerd_registry_auth:
  - registry: "{{ hostvars['localhost']['admin_nic_ip'] }}:{{ pulp_registry_port }}"
    password: "{{ hostvars['localhost']['pulp_password'] }}"
{% endif %}