# k8s configuration 

# Include common configuration 
{% include 'common_vars_template.j2' %}

# Include MetalLB configuration
{% include 'metallb_vars_template.j2' %}

# Include download URLs
{% include 'download_urls_template.j2' %}

# Include containerd configuration
{% include 'containerd_vars_template.j2' %}

