# ansible.cfg for utils/playbooks/backup_oim_logs/
#
# Usage:
#   cd src/utils/playbooks/backup_oim_logs
#   ansible-playbook backup_oim_logs.yml
#
# Preferred usage is via the top-level utils.yml entry point instead:
#   cd src/utils
#   ansible-playbook playbooks/utils.yml --tags backup_oim_logs

[defaults]
log_path = /var/log/omnia/utils/backup_oim_logs.log
roles_path = ../../roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
callback_plugins = ../../plugins/callback
remote_tmp = /tmp/.ansible/tmp/
host_key_checking = false
forks = 5
timeout = 180
executable = /bin/bash
interpreter_python = /usr/bin/python3
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
collections_path = ../../..:~/.ansible/collections:/usr/share/ansible/collections

[persistent_connection]
command_timeout = 180
connect_timeout = 180

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60 -o ConnectTimeout=60
