# Install OS instead of upgrade
install

# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled

# text install
text

# Do not configure the X Window System
skipx

ignoredisk --only-use=sda

# Keyboard layouts
keyboard us

# System language
lang ks_language

# Network information
network  --bootproto=dhcp --device=link --onboot=on --activate

# Root password
rootpw --iscrypted ks_password

# System services
services --enabled="chronyd"

# System timezone
timezone --utc ks_timezone

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --drives=sda

# Clear the Master Boot Record
zerombr

# Disk Partitioning
partition /boot/efi --asprimary --fstype=vfat --label EFI  --size=200
partition /boot     --asprimary --fstype=ext4 --label BOOT --size=500
partition /         --asprimary --fstype=ext4 --label ROOT --size=4096 --grow

# Reboot after installation
reboot

%packages
@core
net-tools
%end