[defaults]
log_path = /opt/omnia/log/core/playbooks/local_repo.log
remote_tmp = /opt/omnia/tmp/.ansible/tmp/
host_key_checking = false
forks = 5
timeout = 180
executable = /bin/bash
interpreter_python = /usr/bin/python3
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
callback_plugins = ../../common/callback_plugins
library = roles/parse_and_download/library:../../common/library/modules
module_utils = ../../common/library/module_utils

[persistent_connection]
command_timeout = 180
connect_timeout = 180

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60 -o ConnectTimeout=60
