[defaults]
log_path = /var/log/omnia/telemetry.log
host_key_checking = false
forks = 5
timeout = 180

[persistent_connection]
command_timeout = 180
connect_timeout = 180

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=180