#!/bin/bash
SLURMDBD_CONF="/etc/slurm/slurmdbd.conf"
SLURM_USER="{{ slurm_user }}"
SLURM_GROUP="{{ slurm_user }}"
# Function to extract value from slurm.conf 
get_value_slurm_conf() {
    local key="$1"
    local default="$2"
    local value
    value=$(grep -iE "^\s*$key\s*=" "$SLURMDBD_CONF" | sed -E 's/^\s*[^=]+=//; s/#.*//; s/\s+$//')
    echo "${value:-$default}"
}
chmod {{ file_mode_600 }} /etc/slurm/slurmdbd.conf
chown {{ slurm_user }}:{{ slurm_user }} /etc/slurm/slurmdbd.conf
#file PidFile
PidFile=$(get_value_slurm_conf "PidFile" "/var/run/slurmdbd.pid")
mkdir -pv $(dirname "$PidFile")
touch $PidFile
chown -v "$SLURM_USER:$SLURM_GROUP" "$PidFile"
chmod -v 0755 $PidFile
#file LogFile
LogFile=$(get_value_slurm_conf "LogFile" "/var/log/slurmdbd.log")
mkdir -pv $(dirname "$LogFile")
touch $LogFile
chown -v "$SLURM_USER:$SLURM_GROUP" "$LogFile"
chmod -v 0755 $LogFile
#firewall
systemctl enable firewalld
systemctl start firewalld
DbdPort=$(get_value_slurm_conf "DbdPort" "6819")
firewall-cmd --permanent --add-port="$DbdPort"/tcp
firewall-cmd --reload
systemctl enable slurmdbd
systemctl start slurmdbd
