#
# Example slurmdbd.conf file.
#
# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
#ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1
#
# Authentication info
AuthType=auth/munge
#AuthInfo=/var/run/munge/munge.socket.2
#
# slurmDBD info
DbdAddr={{ dbd_addr }}
DbdHost={{ dbd_host }}
#DbdPort=6019
SlurmUser={{ slurm_user }}
#MessageTimeout=300
DebugLevel=verbose
#DefaultQOS=normal,standby
LogFile={{ logfile }}
PidFile={{ pidfile }}
{% if slurm_installation_type == nfs_share_slurm %}
{% if ansible_distribution | lower == "ubuntu" %}
PluginDir={{ plugin_slurm_dir_ubuntu }}
{% elif ansible_distribution | lower in ["redhat", "rocky"] %}
PluginDir={{ plugin_slurm_dir }}
{% endif %}
{% elif slurm_installation_type == configless_slurm %}
#PluginDir=/usr/lib/slurm
{% endif %}
#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes
#
# Database info
StorageType=accounting_storage/mysql
#StorageHost=
#StoragePort=
StoragePass={{ hostvars['127.0.0.1']['db_password'] }}
StorageUser={{ slurm_user }}
#StorageLoc=
