set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=10

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Omnia - Install Operating System - {{ os_arch }} (Unattended - NFS Kickstart)' --class red --class gnu-linux --class gnu --class os {
{% if os_arch == 'x86_64' %}
    linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom inst.ks=nfs:{{ nfs_server_ip }}:{{ nfs_kickstart_path }} quiet
    initrdefi /images/pxeboot/initrd.img
{% else %}
    linux /images/pxeboot/vmlinuz inst.stage2=cdrom inst.ks=nfs:{{ nfs_server_ip }}:{{ nfs_kickstart_path }} quiet
    initrd /images/pxeboot/initrd.img
{% endif %}
}

menuentry 'Omnia - Install Operating System - {{ os_arch }} (Interactive)' --class red --class gnu-linux --class gnu --class os {
{% if os_arch == 'x86_64' %}
    linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom quiet
    initrdefi /images/pxeboot/initrd.img
{% else %}
    linux /images/pxeboot/vmlinuz inst.stage2=cdrom quiet
    initrd /images/pxeboot/initrd.img
{% endif %}
}

menuentry 'Omnia - Test this media & install - {{ os_arch }}' --class red --class gnu-linux --class gnu --class os {
{% if os_arch == 'x86_64' %}
    linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom rd.live.check quiet
    initrdefi /images/pxeboot/initrd.img
{% else %}
    linux /images/pxeboot/vmlinuz inst.stage2=cdrom rd.live.check quiet
    initrd /images/pxeboot/initrd.img
{% endif %}
}

submenu 'Troubleshooting -->' {
    menuentry 'Omnia - Install Operating System in basic graphics mode - {{ os_arch }}' --class red --class gnu-linux --class gnu --class os {
{% if os_arch == 'x86_64' %}
        linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom nomodeset quiet
        initrdefi /images/pxeboot/initrd.img
{% else %}
        linux /images/pxeboot/vmlinuz inst.stage2=cdrom nomodeset quiet
        initrd /images/pxeboot/initrd.img
{% endif %}
    }
    menuentry 'Omnia - Rescue installed system - {{ os_arch }}' --class red --class gnu-linux --class gnu --class os {
{% if os_arch == 'x86_64' %}
        linuxefi /images/pxeboot/vmlinuz inst.stage2=cdrom inst.rescue quiet
        initrdefi /images/pxeboot/initrd.img
{% else %}
        linux /images/pxeboot/vmlinuz inst.stage2=cdrom inst.rescue quiet
        initrd /images/pxeboot/initrd.img
{% endif %}
    }
}