---

# Provision credentials
provision_password: ""
bmc_username: ""  
bmc_password: ""
switch_snmp3_username: ""
switch_snmp3_password: ""

# Prepare_oim credentials
postgresdb_password: ""
pulp_password: ""
docker_username: ""
docker_password: ""

#Omnia credentials
slurm_db_password: ""

# Security credentials
openldap_db_username: ""
openldap_db_password: ""
openldap_config_username: ""
openldap_config_password: ""
openldap_monitor_password: ""
kerberos_admin_password: ""
directory_manager_password: ""
