# Copyright 2024 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

#***********************************************************************
# DO NOT REMOVE OR COMMENT OUT ANY LINES IN THIS FILE.                  
# SIMPLY APPEND THE REQUIRD VALUES AGAINST THE PARAMETER OF YOUR CHOICE.
#***********************************************************************

# Absolute path to local copy of .tgz file containing mlnx_ofed package.
# The package can be downloaded from https://network.nvidia.com/products/infiniband-drivers/linux/mlnx_ofed/
# Optional variable.
mlnx_ofed_offline_path: "{{ network_config_ns.mlnx_ofed_offline_path }}" # Value auto populated by Omnia upgrade script

# If mlnx_ofed_offline_path is not given, declaring this variable is mandatory.
# The mlnx_ofed package is downloaded as per version mentioned in this variable.
# Default value: 5.4-2.4.1.3
mlnx_ofed_version: {{ network_config_ns.mlnx_ofed_version }} # Value auto populated by Omnia upgrade script

# Set this variable to true if kernel version currently available on compute nodes is 
# not compatible with mlnx_ofed version in use. 
# Mandatory variable
# Default value: true
mlnx_ofed_add_kernel_support: {{ network_config_ns.mlnx_ofed_add_kernel_support | lower | regex_replace('["\']', '') }} # Value auto populated by Omnia upgrade script
