---

Networks:
{% for network in Networks %}
{% for network_type, details in network.items() %}
{% if network_type == 'admin_network' %}
    - {{ network_type }}:
        nic_name: "{{ details.nic_name }}"
        netmask_bits: "{{ details.netmask_bits }}"
        static_range: "{{ details.static_range }}"
        dynamic_range: "{{ details.dynamic_range }}"
        correlation_to_admin: {{ details.correlation_to_admin | lower }}
        admin_uncorrelated_node_start_ip: "{{ details.admin_uncorrelated_node_start_ip }}"
        network_gateway: "{{ details.network_gateway }}"
        DNS: "{{ details.DNS }}"
        MTU: "{{ details.MTU }}"
{% elif network_type == 'bmc_network' %}
    - {{ network_type }}:
        nic_name: "{{ details.nic_name }}"
        netmask_bits: "{{ details.netmask_bits }}"
        static_range: "{{ details.static_range }}"
        dynamic_range: "{{ details.dynamic_range }}"
        reassignment_to_static: {{ details.reassignment_to_static | lower }}
        discover_ranges: "{{ details.discover_ranges }}"
        network_gateway: "{{ details.network_gateway }}"
        MTU: "{{ details.MTU }}"
{% endif %}
{% endfor %}
{% endfor %}

#**********************************************************************
# Following are the templates for providing additional network details
#**********************************************************************
#    - thor_network1:
#       netmask_bits: "20"
#       CIDR: "10.10.16.0"
#       network_gateway: ""
#       MTU: "1500"
#       VLAN: ""
#
#    - thor_network2:
#       netmask_bits: "20"
#       static_range: "10.10.1.1-10.10.15.254"
#       network_gateway: ""
#       MTU: "1500"
#       VLAN: "1"

{% for network in Networks %}
{% for network_type, details in network.items() %}
{% if network_type == 'thor_network1' %}
    - {{ network_type }}:
        netmask_bits: "{{ details.netmask_bits }}"
        CIDR: "{{ details.CIDR }}"
        network_gateway: "{{ details.network_gateway }}"
        MTU: "{{ details.MTU }}"
        VLAN: "{{ details.VLAN }}"

{% elif network_type == 'thor_network2' %}
    - {{ network_type }}:
        netmask_bits: "{{ details.netmask_bits }}"
        static_range: "{{ details.static_range }}"
        network_gateway: "{{ details.network_gateway }}"
        MTU: "{{ details.MTU }}"
        VLAN: "{{ details.VLAN }}"
{% endif %}
{% endfor %}
{% endfor %}
