apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: roce-{{ item.0 + 1 }}
spec:
  config: '{
      "cniVersion": "0.3.0",
      "name": "whereaboutsexample-{{ item.0 + 1 }}",
      "type": "macvlan",
      "master": "{{ item.1.name }}",
      "mode": "bridge",
      "ipam": {
        "type": "whereabouts",
        "range": "{{ item.1.range }}",
        "routes": [
          { "dst": "0.0.0.0/0" }
        ],
        "gateway": "{{ item.1.gateway }}"
      }
    }'
