[local-rhels8-x86_64--install-omnia-cluster-x86_64-RHEL8]
name=xCAT configured yum repository for /install/omnia-cluster/x86_64/RHEL8
baseurl=http://{{ control_plane_ip }}:80//install/omnia-cluster/x86_64/RHEL8
enabled=1
gpgcheck=0