[Unit]
Description=OpenLDAP container managed by systemd

[Container]
Image={{ auth_service_image_name }}:{{ auth_service_image_tag }}
ContainerName={{ auth_service_container_name }}

# Publish ports
{% for port in openldap_ports %}
PublishPort=0.0.0.0:{{ port }}:{{ port }}
{% endfor %}

# Mount configuration and bootstrap files (read-only, with SELinux relabel)
Volume={{ slapd_conf_dest }}:/etc/openldap/slapd.conf:ro,z
Volume={{ bootstrap_ldif_dest }}:/container-init/bootstrap.ldif:ro,z
Volume={{ openldap_tls_certs_directory }}:/etc/openldap/certs:ro,z

[Service]
Restart=always
[Install]
WantedBy=multi-user.target
