# Copyright 2026 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

{% if telemetry_config.telemetry_sources.vast.metrics_enabled | default(false) | bool %}
{% set vast_config = telemetry_config.telemetry_sources.vast %}
{% set vast_detailed_config = telemetry_config.vast_configuration %}
{% set auth_mode = vast_detailed_config.auth_mode | default('basic') %}
{% set tls_mode = vast_detailed_config.tls_mode | default('self_signed') %}

{% if auth_mode == 'basic' %}
apiVersion: v1
kind: Secret
metadata:
  name: vast-telemetry-credentials
  namespace: {{ telemetry_namespace }}
  labels:
    app.kubernetes.io/managed-by: omnia
    app.kubernetes.io/component: vast-telemetry
type: Opaque
{% if tls_mode == 'ca_signed' and vast_detailed_config.vast_ca_cert_path | default('') | trim != '' %}
data:
  username: {{ (hostvars['localhost']['vast_username'] | string) | b64encode }}
  password: {{ (hostvars['localhost']['vast_password'] | string) | b64encode }}
  ca.crt: {{ (vast_ca_cert_content | default('') | string) | b64encode }}
{% else %}
stringData:
  username: "{{ hostvars['localhost']['vast_username'] | default('') | string }}"
  password: "{{ hostvars['localhost']['vast_password'] | default('') | string }}"
{% endif %}
{% else %}
{% if tls_mode == 'ca_signed' and vast_detailed_config.vast_ca_cert_path | default('') | trim != '' %}
apiVersion: v1
kind: Secret
metadata:
  name: vast-telemetry-credentials
  namespace: {{ telemetry_namespace }}
  labels:
    app.kubernetes.io/managed-by: omnia
    app.kubernetes.io/component: vast-telemetry
type: Opaque
data:
  ca.crt: {{ (vast_ca_cert_content | default('') | string) | b64encode }}
{% endif %}
{% endif %}
{% endif %}
