# ansible.cfg for standalone execution of playbooks in this subfolder.
# When imported via telemetry.yml, the parent ansible.cfg takes precedence.
[defaults]
log_path = /var/log/omnia/telemetry/telemetry.log
roles_path = ../../roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
library = ../../plugins/modules
module_utils = ../../plugins/module_utils
callback_plugins = ../../plugins/callback
collections_path = ../..:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = false
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root