{% if repo_config == "partial" or repo_config == "never"  %}
{% if user_registry is defined and user_registry is not none and user_registry | length > 0 %}
{% for registry in user_registry %}
[host."{{ registry.host }}"]
capabilities = ["pull", "resolve"]
skip_verify = true
{% endfor %}
{% endif %}
{% endif %}

{% if repo_config == "always" or repo_config == "partial"  %}
[host."{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}"]
capabilities = ["pull", "resolve"]
skip_verify = true
{% endif %}
