offline_tarball_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/tarball"
offline_shell_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/shell"
offline_pip_module_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/pip_module"
offline_git_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/git"
offline_ansible_galaxy_collection_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/ansible_galaxy_collection"
offline_manifest_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/manifest"
offline_iso_path: "{{ pulp_protocol }}://{{ pulp_server_ip }}:{{ pulp_server_port }}/pulp/content/opt/omnia/offline_repo/cluster/{{ provision_os }}/{{ provision_os_version }}/iso"
oim_hostname: "{{ oim_hostname }}"
domain_name: "{{ oim_domain_name }}"
proxy_status: {{ proxy_status | lower }}
no_proxy_input_status: {{ no_proxy_input_status | lower }}
user_no_proxy: "{{ proxy[0].no_proxy | default('',true)  }}"