offline_tarball_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/tarball"
offline_shell_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/shell"
offline_pip_module_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/pip_module"
offline_git_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/git"
offline_ansible_galaxy_collection_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/ansible_galaxy_collection"
offline_manifest_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/manifest"
offline_iso_path: "http://{{ admin_nic_ip }}:2225/pulp/content/opt/omnia/offline_repo/cluster/{{ provision_os }}/{{ provision_os_version }}/iso"