[Omnia-RPM-Repo{{ item.name }}]
name=Omnia-Repo-{{ item.name }}
baseurl= {{ item.base_url }}
enabled=1
gpgcheck=0
skip_if_unavailable=True
{% if proxy_status is defined and proxy_status %}
proxy=_none_
{% endif %}