{# For RHEL OS Repositories #}
[rhel_os_repo{{ item.0 + 1 }}]
name=RHEL OS Repository {{ item.0 + 1 }}
baseurl={{ item.1.url }}
{% if item.1.gpgkey is defined %}
{% if item.1.gpgkey | default("", true) | length > 1 %}
gpgcheck=1
gpgkey={{ item.1.gpgkey }}
{% else %}
gpgcheck=0
{% endif %}
{% else %}
gpgcheck=0
{% endif %}
enabled=1
skip_if_unavailable=True