{% if repo_config == "always" %}
/tmp/certs.d/* -> /etc/containerd/certs.d/*
/etc/containerd/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt -> /opt/omnia/registry/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt
{% endif %}

{% if repo_config == "partial" %}
/tmp/keyrings/* -> /etc/apt/keyrings/*
/tmp/certs.d/* -> /etc/containerd/certs.d/*
/etc/containerd/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt -> /opt/omnia/registry/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt
{% if user_registry is defined and user_registry is not none and user_registry | length > 0 %}
{% for registry in user_registry %}
{% if registry.cert_path is defined and registry.cert_path != "" %}
{{ registry.cert_path }} -> /opt/omnia/registry/certs.d/{{ registry.host }}/ca.crt
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if repo_config == "never" %}
/tmp/keyrings/* -> /etc/apt/keyrings/*
{% if user_registry is defined and user_registry is not none and user_registry | length > 0 %}
/tmp/certs.d/* -> /etc/containerd/certs.d/*
{% for registry in user_registry %}
{% if registry.cert_path is defined and registry.cert_path != "" %}
{{ registry.cert_path }} -> /opt/omnia/registry/certs.d/{{ registry.host }}/ca.crt
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

/tmp/repos/* -> /etc/apt/sources.list.d/*
/tmp/conf/pip.conf -> /etc/pip.conf