{{ syncfiles_dir }}/repos/* -> /etc/apt/sources.list.d/*
{{ syncfiles_dir }}/conf/pip.conf -> /etc/pip.conf

{% if repo_config == "always" %}
{{ syncfiles_dir }}/certs.d/* -> /etc/containerd/certs.d/*
/etc/containerd/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt -> /opt/omnia/registry/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt
{% endif %}

{% if repo_config == "partial" %}
{% if is_keyring_not_empty %}
{{ syncfiles_dir }}/keyrings/* -> /etc/apt/keyrings/*
{% endif %}
{{ syncfiles_dir }}/certs.d/* -> /etc/containerd/certs.d/*
/etc/containerd/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt -> /opt/omnia/registry/certs.d/{{ hostname_result.stdout }}:{{ nerdctl_registry_port }}/ca.crt
{% if user_registry is defined and user_registry is not none and user_registry | length > 0 %}
{% for registry in user_registry %}
{% if registry.cert_path is defined and registry.cert_path != "" %}
{{ registry.cert_path }} -> /opt/omnia/registry/certs.d/{{ registry.host }}/ca.crt
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if repo_config == "never" %}
{% if is_keyring_not_empty %}
{{ syncfiles_dir }}/keyrings/* -> /etc/apt/keyrings/*
{% endif %}
{% if user_registry is defined and user_registry is not none and user_registry | length > 0 %}
{{ syncfiles_dir }}/certs.d/* -> /etc/containerd/certs.d/*
{% for registry in user_registry %}
{% if registry.cert_path is defined and registry.cert_path != "" %}
{{ registry.cert_path }} -> /opt/omnia/registry/certs.d/{{ registry.host }}/ca.crt
{% endif %}
{% endfor %}
{% endif %}
{% endif %}