[Unit]
Description=BeeGFS Tuning Service
Documentation=http://www.beegfs.com/content/documentation/
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /opt/beegfs/beegfs-oss-tuning.sh
Type=oneshot
RemainAfterExit=1

[Install]
WantedBy=multi-user.target
