[Unit]
Description=Omnia Telemetry Acquisition
After=network.target

[Service]
Type=simple
ExecStart={{ omnia_telemetry_service_shell_file_path }}
Restart=always

[Install]
WantedBy=multi-user.target
