kube_version: "v{{ k8s_version }}"
deploy_container_engine: false
skip_http_proxy_on_os_packages: {{ not proxy_status }}
dashboard_enabled: false
helm_enabled: true
kube_network_plugin: "{{ hostvars['localhost']['telemetry_config']['k8s_cni'] }}"
kube_service_addresses: "{{ hostvars['localhost']['telemetry_config']['k8s_service_addresses'] }}"
kube_pods_subnet: "{{ hostvars['localhost']['telemetry_config']['k8s_pod_network_cidr'] }}"
metallb_enabled: true
metallb_namespace: "metallb-system"
metallb_speaker_enabled: true
kube_proxy_strict_arp: true
kube_proxy_mode: 'iptables'
metallb_config:
  address_pools:
    primary:
      ip_range:
        - "{{ hostvars['localhost']['telemetry_config']['pod_external_ip_range'] }}"
      auto_assign: true
  layer2:
    - primary
override_system_hostname: false
populate_inventory_to_hosts_file: false
enable_nodelocaldns: false
unsafe_show_logs: true
preinstall_selinux_state: disabled
kube_image_repo: "registry.k8s.io"
docker_image_repo: "docker.io"
quay_image_repo: "quay.io"
kubeadm_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['kubeadm'] }}.tar.gz"
kubectl_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['kubectl'] }}.tar.gz"
kubelet_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['kubelet'] }}.tar.gz"
calicoctl_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['calicoctl'] }}.tar.gz"
calico_crds_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['calicocrds'] }}.tar.gz"
cni_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['cni-plugins'] }}.tar.gz"
docker_rh_repo_base_url: ""
docker_rh_repo_gpgkey: ""
etcd_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['etcd'] }}.tar.gz"
helm_download_url: "{{ offline_tarball_path }}/{{ telemetry_package_map['helm'] }}.tar.gz"
bin_dir: /usr/bin
http_proxy: "{{ proxy[0].http_proxy | default('', true) }}"
https_proxy: "{{ proxy[0].http_proxy | default('', true) }}"
no_proxy: "localhost,{{ oim_hostname }},*.{{ oim_domain_name }},{{ oim_ip_addresses | join(',') }},{{ hostvars['localhost']['telemetry_config']['pod_external_ip_range'] }},{{ hostvars['localhost']['telemetry_config']['k8s_service_addresses'] }},{{ hostvars['localhost']['telemetry_config']['k8s_pod_network_cidr'] }}" # noqa: yaml[line-length]
additional_no_proxy: "{{ hostvars['localhost']['user_no_proxy'] if hostvars['localhost']['no_proxy_input_status'] else '' }}"   # noqa: yaml[line-length]
