- label: {{ additional_metadata_svc_fg_smd_group_name }}
  members:
    ids:
{% set normalized_target_functional_group = functional_group_name
  | regex_replace('^service_kube_control_plane_first_', 'service_kube_control_plane_') %}
{% for item in smd_group_nodes | sort(attribute='value.XNAME') %}
{% set node_functional_group = item.value.FUNCTIONAL_GROUP_NAME %}
{% set normalized_node_functional_group = node_functional_group
  | regex_replace('^service_kube_control_plane_first_', 'service_kube_control_plane_') %}
{% if normalized_node_functional_group == normalized_target_functional_group %}
      - {{ item.value.XNAME }}
{% endif %}
{% endfor %}
