nodes:
{% for node in mapping_nodes %}
- name: {{ node['HOSTNAME'] }}
  xname: {{ node['XNAME'] }}
  description: {{ node['SERVICE_TAG'] }}
  nid: {{ node['HOSTNAME'] | regex_replace('^nid0*', '') | int if node['HOSTNAME'] is regex('^nid\\d+$') else loop.index }}
  group: {{ node['FUNCTIONAL_GROUP_NAME'] }}
  bmc_mac: {{ node['BMC_MAC'] }} 
  bmc_ip: {{ node['BMC_IP'] }}
  interfaces:
  - mac_addr: {{ node['ADMIN_MAC'] }}
    ip_addrs:
    - name: management
      ip_addr: {{ node['ADMIN_IP'] }}
{% endfor %}