# Batch Scheduler: Slurm

[slurm_control_node]
{% if slurm_exists %}
{% for ip in manager_ips %}
{{ ip }}
{% endfor %}
{% endif %}

[slurm_node]
{% if slurm_exists %}
{% for ip in compute_ips %}
{{ ip }}
{% endfor %}
{% endif %}

[login]
{% if slurm_exists %}
{% for ip in login_ips %}
{{ ip }}
{% endfor %}
{% endif %}


# AI Scheduler: Kubernetes

[kube_control_plane]
{% if k8s_exists %}
{% for ip in manager_ips %}
{{ ip }}
{% endfor %}
{% endif %}

[etcd]
{% if k8s_exists %}
{% for ip in manager_ips %}
{{ ip }}
{% endfor %}
{% endif %}

[kube_node]
{% if k8s_exists %}
{% for ip in compute_ips %}
{{ ip }}
{% endfor %}
{% endif %}

[auth_server]
{% for ip in manager_ips %}
{{ ip }}
{% endfor %}

{% if idracgrp_exists %}
[idrac]
{% for ip in idrac_ips %}
{{ ip }}
{% endfor %}
{% endif %}
