{
  "sys_opts": {
    "system" : "dell",
    "namespace": "telemetry",
    "agg_port": {{ telemetry_config.ldms_agg_port }},
    "store_port": {{ telemetry_config.ldms_store_port }},
    "imagePullSecretsOption": {
      "imagePullSecrets": [
      ]
    }
  },
  "node_types": {
    "slurm-cluster": {
      "host_map_file": "out_dir/host_map.slurm-cluster.json",
      "alias": "slurm-cluster",
      "agg_count": 1,
      "store_split": 999999,
      "sampler": {
        "name": "nersc",
        "port": {{ telemetry_config.ldms_sampler_port }},
        "auth_type": "ovis",
        "auth_secret": "nersc-ldms-ovis-auth",
        "auth_secret_file": "ldmsauth.conf"
      },
      "auth_type": "munge",
      "auth_secret": "nersc-munge-key",
      "auth_secret_file": "munge.key",
      "mem": "128M"
    }
  }
}
