# This file contains environment variables for ldmsd.sampler, which will affect
# ldmsd initial configuration (e.g. transport, named socket path)

# LDMS transport option (sock, rdma, or ugni)
LDMSD_XPRT=sock
# LDMS Daemon service port
LDMSD_PORT={{ telemetry_config.ldms_sampler_port }}

# LDMS memory allocation
LDMSD_MEM=512K

# Log verbosity
LDMSD_VERBOSE=INFO

# Log file control. The default is to log to syslog.
# LDMSD_LOG_OPTION="-l /var/log/ldmsd.log"

# Authentication method
# Use `ovis` in this example
LDMSD_AUTH_PLUGIN=ovis
# AUTH_FILE for `ovis` auth method
LDMS_AUTH_FILE=/opt/ovis-ldms/etc/ldms/ldmsauth.conf

# LDMS plugin configuration file, see /opt/ovis-ldms/etc/ldms/sampler.conf for an example
LDMSD_PLUGIN_CONFIG_FILE=/opt/ovis-ldms/etc/ldms/sampler.conf


# These are configured by configure script, no need to change.
LDMSD_PLUGIN_LIBPATH=/opt/ovis-ldms/lib/ovis-ldms
ZAP_LIBPATH=
