agg:
  resources:
    limits:
      cpu: 1
      memory: 1Gi
aggs:
- conf: /ldms_conf/ldmsd.nersc-ldms-aggr.slurm-cluster-0.conf
  env: /ldms_conf/ldms-env.nersc-ldms-aggr.slurm-cluster-0.sh
  name: slurm-cluster-0
  port: {{ telemetry_config.ldms_agg_port }}
authVolMountOption:
- mountPath: /nersc-munge-key
  name: nersc-munge-key
- mountPath: /nersc-ldms-ovis-auth
  name: nersc-ldms-ovis-auth
authVolOption:
- name: nersc-munge-key
  secret:
    defaultMode: 0o400
    secretName: nersc-munge-key
- name: nersc-ldms-ovis-auth
  secret:
    defaultMode: 0o400
    secretName: nersc-ldms-ovis-auth
image:
  registry: docker.io/dellhpcomniaaisolution
  repository: /ubuntu-ldms
  tag: "1.0"
imagePullSecretsOption:
  imagePullSecrets: []
namespace: telemetry
net_atat_def: null
statefulSet:
  store:
  - name: slurm-cluster
    replicas: 1
store:
  port: {{ telemetry_config.ldms_store_port }}
  resources:
    limits:
      cpu: 1
      memory: 1Gi
