{# For Omnia Repositories #}
[omnia_repo{{ item.0 + 1 }}_{{ ansible_date_time.iso8601_basic }}]
name=Omnia Repository {{ item.0 + 1 }} {{ ansible_date_time.iso8601_basic }}
baseurl={{ item.1.url }}
{% if item.1.gpgkey is defined %}
{% if item.1.gpgkey | default("", true) | length > 1 %}
gpgcheck=1
gpgkey={{ item.1.gpgkey }}
{% else %}
gpgcheck=0
{% endif %}
{% else %}
gpgcheck=0
{% endif %}
enabled=1
skip_if_unavailable=True
