{% for url in baseurls %}
[Omnia-RPM-Repo-{{ repo_name }}-{{ loop.index }}]
name=Omnia-Repo-{{ repo_name }}-{{ loop.index }}
baseurl={{ url }}
enabled=1
gpgcheck=0
skip_if_unavailable=True
{% if pulp_protocol_https %}
sslverify=1
sslcacert={{ pulp_cert_path }}
{% endif %}

{% endfor %}
