[Omnia-RPM-Repo{{ software_item }}]
name=Omnia-Repo-{{ software_item }}
baseurl={{ (hostvars['localhost']['pulp_output_fact'] | selectattr('name', 'equalto', software_item) | map(attribute='base_url') | list | first) }}
enabled=1
gpgcheck=0
skip_if_unavailable=True
{% if pulp_protocol_https %}
sslverify=1
sslcacert=/etc/pki/ca-trust/source/anchors/pulp_webserver.crt
{% endif %}
