SlurmControlNode
{% for host in groups['slurm_control_node'] %}
   {{ hostvars[host]['ansible_facts']['nodename'] }}
   {{ hostvars[host]['ansible_facts']['os_family'] }}
   {{ hostvars[host]['inventory_hostname_short'] }}
{% endfor %}

SlurmNode
{% for host in groups['slurm_node'] %}
   {{ hostvars[host]['ansible_facts']['nodename'] }}
   {{ hostvars[host]['ansible_facts']['os_family'] }}
{% endfor %}
NodeName=localhost State=UNKNOWN
PartitionName=debug Default=YES Nodes=node State=UP
