ClusterName={{ cluster_name }}
{% for host in groups['slurm_control_node'] %}
SlurmctldHost={{ hostvars[host]['ansible_nodename'] | split('.') | first }}
{% endfor %}
{% if slurm_installation_type == configless_slurm  %}
{% set slurm_ctld_parameters = (slurm_ctld_parameters | default([]) ) + ['enable_configless'] %}
{% endif %}
{% if slurm_ctld_parameters | length > 0 %}
SlurmctldParameters={{ slurm_ctld_parameters | join(',') }}
{% endif %}
PluginDir={{ installroot }}{{ plugin_slurm_dir }}
{% for key in slurm_conf_dict | sort %}
{% set val = slurm_conf_dict[key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}

# SLURM DBD
{% if 'slurm_dbd' in groups %}
AccountingStorageHost={{ hostvars[groups['slurm_dbd'][0]]['ansible_nodename'] | split('.') | first }}
AccountingStoragePort={{ slurm_dbd_port }}
AccountingStorageType=accounting_storage/slurmdbd
{% endif %}

# COMPUTE NODES
NodeName=DEFAULT State=UNKNOWN
{% if 'slurm_node' in groups %}
{% for host in groups['slurm_node'] %}
NodeName={{ hostvars[host]['ansible_nodename'] | split('.') | first }} CPUs={{ hostvars[host]['ansible_facts']['processor_nproc'] }} Sockets={{ hostvars[host]['ansible_facts']['processor_count'] }} CoresPerSocket={{ hostvars[host]['ansible_facts']['processor_cores'] }} ThreadsPerCore={{ hostvars[host]['ansible_facts']['processor_threads_per_core'] }}
{% endfor %}
{% endif %}

# PARTITION INFO #TODO get inventory_hostname_short for looping
PartitionName=DEFAULT Nodes=ALL Default=YES MaxTime=INFINITE State=UP
{% if 'slurm_node' in groups %}
PartitionName={{ slurm_partition_name }} Nodes={{ slurm_node_list | join(',') }} MaxTime=INFINITE State=UP
{% endif %}
{% for i in partitions %}
PartitionName={{ i.PartitionName }}{% for k in i | sort if k != 'PartitionName' %} {{ k }}={{ 'YES' if i[k] is sameas true else ('NO' if i[k] is sameas false else i[k]) }}{% endfor %}
{% endfor %}