[defaults]
collections_path = ../../.ansible/collections:../../
roles_path = ../../.ansible/roles:../../roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
callback_whitelist = timer, profile_tasks
