{% set fg_swap = cloud_init_groups_dict.get(functional_group_name, {}).get('swap', {}) %}
{% include 'configure_swap.yaml.j2' %}
        - mount -av
{% for pv_entry in cloud_init_groups_dict[functional_group_name].powervault_scripts | default([], true) %}
        - bash /usr/local/bin/setup_iscsi_storage_{{ pv_entry.name }}.sh
{% endfor %}
