{% if kafka_support %}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ kafka.cluster_id }}"
  namespace: "{{ telemetry_namespace }}"
type: Opaque
stringData:
  cluster-id: "{{ cluster_id.stdout }}"
{% else %}
# No secrets to create - Kafka support is disabled
# This file is included in kustomization.yaml but will be ignored by kubectl
{% endif %}
