apiVersion: v1
kind: Secret
metadata:
  name: "{{ mysqldb_secrets_name }}"
  namespace: "{{ telemetry_namespace }}"
type: Opaque
data:
  mysqldb_user: "{{ hostvars['localhost']['mysqldb_user'] | b64encode }}"
  mysqldb_password: "{{ hostvars['localhost']['mysqldb_password'] | b64encode }}"
  mysqldb_root_password: "{{ hostvars['localhost']['mysqldb_root_password'] | b64encode }}"

{% set types = hostvars['localhost']['idrac_telemetry_collection_type'].split(',') %}
{% if 'kafka' in types %}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ kafka_secrets.name }}"
  namespace: "{{ telemetry_namespace }}"
type: Opaque
data:
  kafka.keystore.pem: "{{ lookup('file', kafka_secrets.cert_file) | b64encode }}"
  kafka.keystore.key: "{{ lookup('file', kafka_secrets.cert_key) | b64encode }}"
  kafka.truststore.pem: "{{ lookup('file', kafka_secrets.cacert_file) | b64encode }}"
  kafka.keystore.combined.pem: "{{ lookup('file', kafka_secrets.combined_pem) | b64encode }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ kafka.cluster_id }}"
  namespace: "{{ telemetry_namespace }}"
type: Opaque
stringData:
  cluster-id: "{{ cluster_id.stdout }}"
{% endif %}