- name: ssh
  description: "ssh config"
  file:
    encoding: plain
    content: |
      ## template: jinja
      #cloud-config
      merge_how:
        - name: list
          settings: [append]
        - name: dict
          settings: [no_replace, recurse_list]
 
      write_files:
        - path: /usr/local/bin/set-ssh-config.sh
          permissions: '0755'
          content: |
            #!/bin/bash
            timedatectl set-timezone {{ hostvars['oim']['oim_timezone'] }}
            localectl set-locale LANG={{ hostvars['localhost']['language'] }}
            sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
            sed -i 's/^#PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
            sed -i 's/^PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config.d/50-cloud-init.conf
            systemctl restart sshd
      runcmd:
        - /usr/local/bin/set-ssh-config.sh

- name: chrony
  description: "chrony config"
  file:
    encoding: plain
    content: |
      ## template: jinja
      #cloud-config
      merge_how:
        - name: list
          settings: [append]
        - name: dict
          settings: [no_replace, recurse_list]
      write_files:
        - path: /etc/chrony.conf
          permissions: '0644'
          content: |
            server {{ cluster_boot_ip }} iburst

            driftfile /var/lib/chrony/drift
            rtcsync
            makestep 1.0 3
            logdir /var/log/chrony
            cmdport 0

      runcmd:
        - "systemctl enable chronyd"
        - "systemctl restart chronyd"
        - "chronyc sources"
        - "chronyc -a makestep"
