        - path: /root/.ssh/config
          permissions: '0600'
          content: |
            Host {{ slurm_control_ssh_patterns }}
                IdentityFile {{ client_mount_path }}/slurm/ssh/oim_rsa
                IdentitiesOnly yes
