.wy-table-responsive table td {
    white-space: inherit !important;
    word-break: break-all; !important;
    overflow-wrap: break-word; !important;
    background-color: white;
}


.wy-table-responsive table th {
    background-color: #2980b9;
    color: white;
}

 .rst-content div[class^=highlight], .rst-content pre.literal-block {
     width: 700px;
     overflow-x: unset;
 }

 .rst-content table.docutils td, .rst-content table.field-list td, .wy-table td {
     background-color: white;
 }

.wy-table-responsive {
    display: block;
    width: fit-content;
    table-layout: fixed;
    block-size: fit-content;
    overflow: visible !important;
    max-width: 900px; !important;
}

