.wy-side-nav-search {
    background-color: #2980B9;
}
.wy-nav-content {
    background-color: #ffffff;
}
.wy-side-nav-search img {
    display: block;
    margin: auto auto .809em;
    height: 45px;
    width: 45px;
    background-color: #2980b9;
    padding: 5px;
    border-radius: 100%
}
.rst-versions .rst-current-version {
    padding: 12px;
    background-color: #272525;
    display: block;
    text-align: right;
    font-size: 90%;
    cursor: pointer;
    *zoom: 1;
}
.rst-content code.literal {
    word-break: break-all; !important;
}
.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    border-radius: 0;
    max-width: 100%;
    background: transparent
}

.wy-side-nav-search .wy-dropdown>a.icon img.logo,
.wy-side-nav-search>a.icon img.logo {
    margin-top: .85em
}

/* Vertical navigation
  ==================================================== */

.wy-menu-vertical header,
.wy-menu-vertical p.caption,
.rst-versions a {
    color: rgb(255, 255, 255);
}

.wy-menu-vertical a.reference:hover,
.wy-menu-vertical a.reference.internal:hover {
    background: #2980B9;
    color: #fff;
}

.wy-nav-side {
    background: rgb(240, 240, 240);
}

.wy-menu-vertical a.reference {
    color: #000;
}

.rst-versions .rst-current-version,
.wy-nav-top,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover {
    background: #2980B9;
    color: rgb(240, 240, 240);
}
/* Main content
  ==================================================== */

.wy-nav-content .highlight,
.wy-nav-content .rst-content .warning {
    background: rgba(238, 238, 238, 0.78);

}

.wy-nav-content .rst-content .warning .admonition-title {
    background: #DC5034;
}

.wy-nav-content .highlight .kn {
    color: #2980B9;

}

.wy-nav-content .highlight .nn,
.wy-nav-content a.fa,
.rst-content dl:not(.docutils) dt,
.wy-nav-content .admonition.warning a {
    color: rgb(7, 7, 7);
}

.wy-nav-content a.reference {
    color: rgb(41, 128, 185);
}
/*
.wy-nav-content .rst-content dl:not(.docutils) dt {
    background: #c9dff2;
    border-top: solid 3px #c9dff2;
;
}
 */
/* Footer
  ==================================================== */

.wy-nav-content footer a {
    color: rgb(41, 128, 185);
}
/*
.wy-nav-content {
    margin:50px;
    padding:50px;
}
*/
.keep-us-sustainable {
    background-color: #333333;
}

ul.simple li {
    list-style: circle;
}

ul.simple p {
    margin-bottom: 0;
}