#!/bin/bash
################################################################################################################
#  omnia_ubuntu:
#     Install omnia default ubuntu packages
#
#################################################################################################################
echo "---------------------------" >> /var/log/xcat/xcat.log
echo "Started installing omnia packages" >> /var/log/xcat/xcat.log
echo "Configure Proxy" >> /var/log/xcat/xcat.log

echo "Acquire::http::Proxy::{{ admin_nic_ip }} \"DIRECT\";" >> /etc/apt/apt.conf
echo "Acquire::http::Proxy \"http://{{ admin_nic_ip }}:3128\";" >> /etc/apt/apt.conf
echo "Acquire::https::Proxy \"http://{{ admin_nic_ip }}:3128\";" >> /etc/apt/apt.conf
apt clean
apt update
apt install chrony ipmitool -y

echo `df -Th` >> /var/log/xcat/xcat.log
echo "Extend root partition" >> /var/log/xcat/xcat.log
lvextend -l +100%FREE /dev/mapper/vg--ubuntu-lv--root -r
echo `df -Th` >> /var/log/xcat/xcat.log

check_ubuntu22="$(cat /etc/os-release | grep 'VERSION_ID="22.04"' | wc -l)"
if [[ "$check_ubuntu22" == "1" ]]
then
    echo "Installing racadm" >> /var/log/xcat/xcat.log
    wget "http://{{ admin_nic_ip }}:80/install{{ repo_store_path }}/cluster/tarball/racadm.tar.gz" -O /tmp/racadm.tar.gz
    racadm_url_status=$?
    if [ $racadm_url_status -eq 0 ]; then
        tar -zxvf /tmp/racadm.tar.gz -C /tmp
        apt install libargtable2-0 -y
        cd /tmp/iDRACTools/racadm && echo "y" | bash install_racadm.sh
    fi
fi
check_ubuntu24="$(cat /etc/os-release | grep 'VERSION_ID="24.04"' | wc -l)"
if [[ "$check_ubuntu24" == "1" ]]
then
    apt install util-linux-extra -y
fi

echo "127.0.0.1 localhost" >> /etc/hosts
echo "{{ admin_nic_ip }} {{ oim_hostname }}" >> /etc/hosts

echo "Installed omnia packages" >> /var/log/xcat/xcat.log
echo "---------------------------" >> /var/log/xcat/xcat.log

echo "Removing default netplan file" >> /var/log/xcat/xcat.log
rm -f /etc/netplan/50-cloud-init.yaml
rm -f /etc/netplan/00-installer-config.yaml
