{% set conf_dict = lookup('vars', item) %}
{% for key in conf_dict | sort %}
{% set val = conf_dict[key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}