apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: {{ topic_name }}
  namespace: {{ telemetry_namespace }}
  labels:
    strimzi.io/cluster: "kafka"
spec:
  partitions: {{ kafka_topic_partitions[topic_key] }}
  replicas: 2
  config:
    cleanup.policy: delete
