#  Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: kafkapump
  namespace: {{ telemetry_namespace }}
  labels:
    strimzi.io/cluster: kafka
spec:
  authentication:
    type: tls
  authorization:
    type: simple
    acls:
      # Global topic creation and management permissions for external clients
      - resource:
          type: topic
          name: "*"
          patternType: literal
        operations:
          - Create
          - Delete
          - Describe
          - Read
          - Write
          - Alter
          - AlterConfigs
        host: "*"
      
      # Cluster-level permissions for topic management
      - resource:
          type: cluster
        operations:
          - Describe
          - Create
        host: "*"
      
      # Consumer group permissions for any group
      - resource:
          type: group
          name: "*"
          patternType: literal
        operations:
          - Read
          - Describe
        host: "*"

{% if hostvars['localhost']['idrac_telemetry_support'] and 'kafka' in hostvars['localhost']['idrac_telemetry_collection_type'].split(',') %}
      # Producer and consumer permissions for idrac topic
      - resource:
          type: topic
          name: {{ kafka.topics.idrac.name }}
          patternType: literal
        operations:
          - Read
          - Write
          - Describe
          - Create
        host: "*"
      # Consumer group permissions for idrac
      - resource:
          type: group
          name: {{ kafka.topics.idrac.consumer_group }}
          patternType: prefix
        operations:
          - Read
        host: "*"
{% endif %}
{% if hostvars['localhost']['ldms_support'] %}
      # Producer and consumer permissions for ldms topic
      - resource:
          type: topic
          name: {{ kafka.topics.ldms.name }}
          patternType: literal
        operations:
          - Read
          - Write
          - Describe
          - Create
        host: "*"
      # Consumer group permissions for ldms
      - resource:
          type: group
          name: {{ kafka.topics.ldms.consumer_group }}
          patternType: prefix
        operations:
          - Read
        host: "*"
{% endif %}
      # Cluster-level permissions for idempotent producers
      - resource:
          type: cluster
        operations:
          - IdempotentWrite
        host: "*"
