# For Omnia Repository {{ item.1.name }}
{% if item.1.gpgkey is defined %}
{% if item.1.gpgkey | default("", true) | length > 1 %}
deb [arch=amd64] {{ item.1.url }}
{% else %}
deb [trusted=yes] {{ item.1.url }}
{% endif %}

{% elif item.1.publickey is defined %}
{% if item.1.publickey | default("", true) | length > 1 %}
deb [arch=amd64] {{ item.1.url }}
{% endif %}
{% endif %}
