# ansible.cfg for telemetry playbooks.
#
# Usage:
#   cd src/telemetry/playbooks
#   ansible-playbook telemetry.yml --tags validate
#
# Or from domain root:
#   cd src/telemetry
#   ansible-playbook playbooks/telemetry.yml --tags validate
#
# Role, module, and plugin paths are relative to THIS directory (playbooks/).
# Sub-directory playbooks (deploy/, cleanup/, etc.) have their own ansible.cfg.

[defaults]
log_path = /var/log/omnia/telemetry/telemetry.log
roles_path = ../roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
library = ../plugins/modules:../../common/library/modules
module_utils = ../plugins/module_utils
callback_plugins = ../plugins/callback
collections_path = ..:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = false
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
