[defaults]
roles_path = ../roles:../../playbooks/provision/roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
