kubeadm_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['kubeadm_package'] }}/{{ hostvars['localhost']['kubeadm_package'] }}.tar.gz"
kubectl_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['kubectl_package'] }}/{{ hostvars['localhost']['kubectl_package'] }}.tar.gz"
kubelet_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['kubelet_package'] }}/{{ hostvars['localhost']['kubelet_package'] }}.tar.gz"
crictl_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['crictl_package'] }}/{{ hostvars['localhost']['crictl_package'] }}.tar.gz"
calicoctl_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['calicoctl_package'] }}/{{ hostvars['localhost']['calicoctl_package'] }}.tar.gz"
calico_crds_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['calico_crds_package'] }}/{{ hostvars['localhost']['calico_crds_package'] }}.tar.gz"
cni_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['cni_package'] }}/{{ hostvars['localhost']['cni_package'] }}.tar.gz"
nerdctl_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['nerdctl_package'] }}/{{ hostvars['localhost']['nerdctl_package'] }}.tar.gz"
runc_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['runc_package'] }}/{{ hostvars['localhost']['runc_package'] }}.tar.gz"
etcd_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['etcd_package'] }}/{{ hostvars['localhost']['etcd_package'] }}.tar.gz"
containerd_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['containerd_package'] }}/{{ hostvars['localhost']['containerd_package'] }}.tar.gz"
helm_download_url: "{{ hostvars['localhost']['offline_tarball_path'] }}/{{ hostvars['localhost']['helm_package'] }}/{{ hostvars['localhost']['helm_package'] }}.tar.gz"
registry_host: "{{ hostvars['localhost']['admin_nic_ip'] }}:{{ pulp_registry_port }}"
kube_image_repo: "{{ hostvars['localhost']['admin_nic_ip'] }}:{{ pulp_registry_port }}"
docker_image_repo: "{{ hostvars['localhost']['admin_nic_ip'] }}:{{ pulp_registry_port }}"
quay_image_repo: "{{ hostvars['localhost']['admin_nic_ip'] }}:{{ pulp_registry_port }}"
docker_rh_repo_base_url: "{{ hostvars['localhost']['docker_rh_repo_base_url'] | default('') }}"
docker_rh_repo_gpgkey: "{{ hostvars['localhost']['docker_rh_repo_gpgkey'] | default('') }}"

