{
  "groupScopes": {
    "admin": [
      "admin",
      "write",
      "read"
    ],
    "operator": [
      "write",
      "read"
    ],
    "user": [
      "read"
    ],
    "viewer": [
      "read"
    ]
  }
}
