{# Configure swap file for the functional group #}
{% if fg_swap %}
        - |
          set -e
          if ! swapon --show | grep -q "{{ fg_swap.filename }}"; then
            fallocate -l {{ fg_swap.size }} {{ fg_swap.filename }}
            chmod 0600 {{ fg_swap.filename }}
            mkswap {{ fg_swap.filename }}
            swapon {{ fg_swap.filename }}
          fi
{% endif %}
