{% if connection_type == "tls" %}

      [sssd]
      services = nss, pam, autofs
      domains = default
      enable_files_domain = false

      [nss]
      homedir_substring = /home

      [pam]

      [domain/default]
      enumerate = true
      id_provider = ldap
      autofs_provider = ldap
      auth_provider = ldap
      chpass_provider = ldap
      ldap_uri =  ldap://{{ ldap_server_ip }}
      ldap_search_base = {{ ldap_search_base }}
      ldap_default_bind_dn = {{ ldap_default_bind_dn }}
      ldap_default_authtok = {{ password }}
      ldap_id_use_start_tls = True
      ldap_tls_cacert = /etc/openldap/certs/ldapserver.crt
      ldap_tls_cacertdir = /etc/openldap/certs
      cache_credentials = True
      ldap_tls_reqcert = allow

{% else %}

      [domain/default]
      id_provider = ldap
      autofs_provider = ldap
      auth_provider = ldap
      chpass_provider = ldap
      ldap_uri = ldaps://{{ ldap_server_ip }}:636
      ldap_chpass_uri = ldaps://{{ ldap_server_ip }}:636
      ldap_search_base = {{ ldap_search_base }}
      ldap_id_use_start_tls = False
      ldap_tls_cacertdir = /etc/openldap/certs
      cache_credentials = True
      ldap_tls_reqcert = demand
      entry_cache_timeout = 600
      ldap_network_timeout = 3
      ldap_connection_expire_timeout = 60
{% endif %}