# ansible.cfg for orchestrator/playbooks/upgrade/
#
# Usage:
#   cd src/orchestrator/playbooks/upgrade
#   ansible-playbook upgrade_orchestrator.yml

[defaults]
log_path = /var/log/omnia/orchestrator/upgrade.log
roles_path = ../../roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
library = ../../plugins/modules
module_utils = ../../plugins/module_utils
callback_plugins = ../../plugins/callback
remote_tmp = /tmp/.ansible/tmp/
host_key_checking = false
forks = 5
timeout = 180
executable = /bin/bash
interpreter_python = /usr/bin/python3
deprecation_warnings = false
show_task_path_on_failure = false
stdout_callback = omnia_default
collections_path = ../..:~/.ansible/collections:/usr/share/ansible/collections

[persistent_connection]
command_timeout = 180
connect_timeout = 180

[ssh_connection]
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60 -o ConnectTimeout=60
