meta:
  name: '{{ rhel_x86_64_base_image_name }}'
  tags:
    - '{{ rhel_tag }}'
  from: scratch

layer:
  manager:
    name: dnf
    options:
      releasever: "{{ rhel_tag }}"
  repos:
{% for repo in rhel_x86_64_repos %}
{% if repo.base_url is defined and repo.base_url %}
    - path: /etc/yum.repos.d/{{ repo.name }}.repo
      content: |
        [{{ repo.name }}]
        name={{ repo.name }}
        baseurl={{ repo.base_url }}
        gpgcheck=0
        sslverify=0
{% endif %}
{% endfor %}
  actions:
    install:
      groups:
        - Minimal Install
        - Development Tools
      packages:
{% for pkg in x86_64_base_image_packages %}
        - {{ pkg }}
{% endfor %}
{% if base_image_commands %}
    commands:
{% for cmd in base_image_commands %}
      - script: |
          #!/bin/bash
          {{ cmd }}
{% endfor %}
{% endif %}

publish:
  - type: registry
    url: '{{ oim_node_name }}.{{ domain_name }}:5000/{{ oim_node_name }}'
    tls-verify: false
